In [2]:
count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [ ]:
# while else, always run when while loop stops

count = 0
while count < 5:
    print(count)
    count = count + 1
else:
    print(count)

0
1
2
3
4
5

In [ ]:
count = 0
while count < 5:
    print(count)
    count = count + 1
    if count == 3:
        break

In [ ]:
count = 0
while count < 5:
    if count == 3:
        count = count + 1
        continue
    print(count)
    count = count + 1

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    print(number)       # the numbers will be printed line by line, from 0 to 5

In [ ]:
language = 'Python'
for letter in language:
    print(letter)


for i in range(len(language)):
    print(language[i])

In [ ]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
for company in it_companies:
    print(company)

In [ ]:
# range(start, end, step) 

lst = list(range(11)) 
print(lst) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
st = set(range(1, 11))    # 2 arguments indicate start and end of the sequence, step set to default 1
print(st) # {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

lst = list(range(0,11,2))
print(lst) # [0, 2, 4, 6, 8, 10]
st = set(range(0,11,2))
print(st) #  {0, 2, 4, 6, 8, 10}

In [7]:
start = 0 
end = 5
step = 1

for iterator in range(start, end, step):
    print(iterator)

print()
for number in range(11):
    print(number)   # prints 0 to 10, not including 11

0
1
2
3
4

0
1
2
3
4
5
6
7
8
9
10

In [5]:
# similar to while else, always run when for loop stops

number = 0
for number in range(11):
    print(number)   # prints 0 to 10, not including 11
else:
    print('The loop stops at', number)

0
1
2
3
4
5
6
7
8
9
10
The loop stops at 10

In [9]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python

In [ ]:
# In python when statement is required (after semicolon), but we don't like to execute any code there, we can write the word pass to avoid errors. Also we can use it as a placeholder, for future statements.

for number in range(6):
    pass